<example-text>
    <p>Player: { state.value }</p>
    <script>
    export default {
        onMounted() {
            this.appState.exampleText = this
            this.update({
                value: 'o'
            })
        }
    }
  </script>
</example-text>